@import url(https://fonts.googleapis.com/css?family=Pacifico);

span {
  padding: 5px;
}

.breakout {
  color: red;
}

#first {
  background-color: green;
  color: white;
}

#second {
  background-color: blue;
  color: white;
}

#third {
  background-color: brown;
  color: white;
}

#fourth {
  background-color: #FFA500;
  color: white;
}

body {

}

h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}

.monthButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.next {
  float: right;
}

ul {
  list-style-type: none;
  font-family: 'Pacifico';
}

ul li {
  font-size: 20px;
}